<!DOCTYPE html>
<html>
<head>
<title>Welcome to GC demo!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Hello Mars</h1>

<p><em>Welcome to <%= node["name"] %>!</em></p>
</body>
</html>